/data/simple_many_features/
build*/
.idea
.DS_Store
/geodiff/tests/tmp/
CMakeLists.txt.user
*-shm
*-wal
*.pyc
dist/
_skbuild/
*egg-info/
MANIFEST
/pygeodiff/tests/tmp/
*__pycache__/
Pipfile
.python-version
.vs/*
.vscode/*
*.bin
*sqlite-journal
