name: Coverage Tests
on: [push]
jobs:
  coverage_tests:
    if: github.repository == 'lutraconsulting/geodiff'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Geodiff
        uses: actions/checkout@v2

      - name: install deps
        run: |
          sudo apt-get install -y lcov
          sudo apt-get install libpq-dev
          sudo apt-get install postgresql-10 postgresql-common postgresql-contrib

      - name: create PG user
        run: |
          sudo runuser -l postgres -c 'psql -c "CREATE USER geodiffuser WITH PASSWORD \'geodiffpass\';"'
          sudo runuser -l postgres -c 'psql -c "CREATE DATABASE geodiffdb'
          sudo runuser -l postgres -c 'psql -c "GRANT ALL PRIVILEGES ON DATABASE geodiffdb TO geodiffuser"'

      - name: build geodiff with coverage
        run: |
          mkdir -p build_coverage_lnx
          cd build_coverage_lnx
          cmake \
              -DCMAKE_BUILD_TYPE=Debug \
              -DENABLE_TESTS=ON \
              -DENABLE_COVERAGE=ON \
              -DWITH_POSTGRESQL=TRUE \
              ../geodiff
          make -j`nproc`

      - name: Run tests
        env:
          CTEST_TARGET_SYSTEM: Linux-gcc
          GEODIFF_PG_CONNINFO: "host=localhost port=5432 user=geodiffuser password=geodiffpass dbname=geodiffdb"
        run: |
          cd build_coverage_lnx
          ctest -VV

      - name: Prepare coverage report
        run: |
          cd build_coverage_lnx
          lcov --directory . --capture --output-file coverage.info
          lcov --remove coverage.info '*/tests/*' '/usr/*' '*googletest/*' '*/3rdparty/*' --output-file coverage.info
          lcov --list coverage.info

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            path-to-lcov: build_coverage_lnx/coverage.info