name: Coverage Tests
on: [push]
jobs:
  coverage_tests:
    if: github.repository == 'lutraconsulting/geodiff'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Geodiff
        uses: actions/checkout@v2

      - name: install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          sudo apt-get install libpq-dev
          sudo apt-get install postgresql-12 postgresql-common postgresql-contrib-12 postgis
          dpkg -l '*postgres*'

      - name: start PG database
        run: |
          sudo pg_ctlcluster 12 main start
          sudo pg_lsclusters

      - name: create PG user
        run: |
          sudo runuser -l postgres -c 'echo -e "geodiffpass\ngeodiffpass" | createuser -P -e geodiffuser'
          sudo runuser -l postgres -c 'psql -c "CREATE DATABASE geodiffdb"'
          sudo runuser -l postgres -c 'psql -d "geodiffdb" -c "CREATE EXTENSION postgis;"'
          sudo runuser -l postgres -c 'psql -c "GRANT ALL PRIVILEGES ON DATABASE geodiffdb TO geodiffuser"'

      - name: build geodiff with coverage
        run: |
          mkdir -p build_coverage_lnx
          cd build_coverage_lnx
          cmake \
              -DCMAKE_BUILD_TYPE=Debug \
              -DENABLE_TESTS=ON \
              -DENABLE_COVERAGE=ON \
              -DWITH_POSTGRESQL=TRUE \
              ../geodiff
          make -j`nproc`

      - name: Run tests
        env:
          CTEST_TARGET_SYSTEM: Linux-gcc
          GEODIFF_PG_CONNINFO: "host=localhost port=5432 user=geodiffuser password=geodiffpass dbname=geodiffdb"
        run: |
          cd build_coverage_lnx
          ctest -VV

      - name: Prepare coverage report
        run: |
          cd build_coverage_lnx
          lcov --directory . --capture --output-file coverage.info
          lcov --remove coverage.info '*/tests/*' '/usr/*' '*googletest/*' '*/3rdparty/*' --output-file coverage.info
          lcov --list coverage.info

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            path-to-lcov: build_coverage_lnx/coverage.info
